.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid rgba(black, .45);
  box-shadow: 0px 0px 0px black;
  transition: box-shadow .15s ease-out;
  &:hover {
    
    box-shadow: 4px 5px 0px black;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 1;
    margin-right: 20px;
    text-shadow: 2px 2px 5px rgba(black, 0.5);

    &.completed {
      color: var(--main-green);
      text-decoration: line-through;
    }
    &.incomplete {
      color: var(--main-red);
    }
  }

  .todo-icon-box {
    display: flex;
  }

  .x-icon, .check-icon, .arrow-up-icon, .arrow-down-icon {
    padding: 2px;
    height: 23px;
    width: 23px;
    border: 1px solid black;
    margin-left: 10px;
    background-color: white;
    box-shadow: var(--main-box-shadow);
    transition: all .2s ease-out;
  }

  .x-icon, .arrow-up-icon, .arrow-down-icon {
    &:hover {
      cursor: pointer;
      border: 1px solid var(--main-red);
      background-color: var(--main-red);
      fill: white;
    }
  }

  .check-icon {
    &:hover, &.completed {
      cursor: pointer;
      border: 1px solid var(--main-green);
      background-color: var(--main-green);
      fill: white;
    }
  }

}