.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  margin-bottom: 0.25rem;
  // border: 1px solid rgba(black, .45);
  box-shadow: 0px 0px 0px var(--main-black);
  transition: box-shadow .15s ease-out;

  &:hover {
    box-shadow: 2px 3px 5px var(--main-black);
  }

  @media screen and (max-width: 640px) {
      padding: 10px;
    }

  @media screen and (max-width: 520px) {
      padding: 10px 0;
    }

  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1;
    margin-right: 20px;
    text-shadow: 2px 2px 2px rgba(black, 0.3);
    width: 75%;

    @media screen and (max-width: 520px) {
      font-size: 2rem;
      margin-right: 5px;
    }

    &.completed {
      color: var(--main-green);
      text-decoration: line-through;
    }
    &.incomplete {
      color: var(--main-red);
    }
  }

  .todo-icon-box {
    display: flex;
    align-items: center;
    width: 25%;

    @media screen and (max-width: 640px) {
      width: 70px;
      height: 70px;
      flex-wrap: wrap;
    }
  }

  .x-icon, .check-icon, .arrow-up-icon, .arrow-down-icon {
    padding: 2px;
    height: 23px;
    width: 23px;
    border: 1px solid var(--main-black);
    margin-left: 10px;
    background-color: var(--main-white);
    box-shadow: var(--main-box-shadow);
    transition: all .2s ease-out;

    @media screen and (max-width: 520px) {

    }
  }

  .x-icon {
    &:hover {
      cursor: pointer;
      border: 1px solid var(--main-red);
      background-color: var(--main-red);
      fill: var(--main-white);
    }
  }

  .check-icon {
    &:hover, &.completed {
      cursor: pointer;
      border: 1px solid var(--main-green);
      background-color: var(--main-green);
      fill: var(--main-white);
    }
  }

  .arrow-up-icon, .arrow-down-icon {
    &:hover {
      cursor: pointer;
      background-color: var(--main-black);
      fill: var(--main-white);
    }
  }
}

