.main-app-container {
  margin: 0 auto;
  min-width: 650px;
  max-width: 25%;
  padding: 55px;
  border-radius: 10px;
  background-color: rgb(132, 114, 236);
  box-shadow: 4px 4px 0px var(--main-green),
              8px 8px 0px var(--main-red),
              12px 12px 10px rgba(black, 0.5),
  ;

  .todo-elements-container {
    max-height: 600px;
    overflow: scroll;
    padding: 10px;
  }

  .app-title {
    font-size: 4rem;
    text-align: center;
    margin: 0 0 2.5rem 0; 
    color: white;
  }

  .input-form {
    padding: 0 10px;
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
  }

  input {
    font-family: var(--main-font);
    border: 2px solid black;
    border-radius: 0;
    width: 300px;
    font-size: 2rem;
    padding: 5px 10px;

    &::placeholder {
      font-family: var(--main-font);
      color: black;
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    font-family: var(--main-font);
    font-size: 2rem;
    border-radius: 0;
    border: 2px solid black;
    padding: 5px 15px 5px 10px;
    transition: all .2s ease-out;
    background-color: white;

    &:hover {
      cursor: pointer;
      background-color: black;
      color: white;
    }
  }
}
