:root {
  --main-font: 'Caveat', cursive;
  --main-bg-color: rgb(110, 134, 240);
  --main-black: #2d2d2d;
  --main-white: snow;
  --main-green: rgb(84, 218, 144);
  --main-red: #ff7664;
  --main-box-shadow: 2px 2px 0px black;
  --bg-blue: rgb(225, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6, p a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


